.himuon-generate-metadata {
    margin-left: 7px !important;
    float: left;
}

.himuon-note {
    margin-left: 7px;
}

.thumbnail.thumbnail-image {
    position: relative;
}

.himuon-image-wrapper {
    position: relative;
    line-height: 0; 
    height: 100%;
    display: block;
}

.himuon-scan-show {
    border: 2px solid #03A9F4;
    border-radius: 5px;
    background: linear-gradient(#03A9F4,#03A9F4), 
    linear-gradient(90deg, #ffffff33 1px,transparent 0,transparent 19px),
    linear-gradient(#ffffff33 1px,transparent 0,transparent 19px),
    linear-gradient(transparent, #2196f387);
    background-size:100% 1.5%, 10% 100%,100% 10%, 100% 100%;
    background-repeat: no-repeat,repeat,repeat,no-repeat;
    background-position: 0 0,0 0, 0 0, 0 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 1.5%, 0% 1.5%);
    animation: move 2s infinite linear;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    pointer-events: none;
}   
@keyframes move{
	to{
		background-position: 0 100%,0 0, 0 0, 0 0;
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	}
}   