#wpcontent {
    padding-top: 20px;
}

.himuon-image-metadata-wrapper {
    background-color: #fff;
    max-width: 35rem;
    border-radius: 0.3rem;
    border: 1px solid #dedede;
    box-shadow: 2px 4px 5px 0 #eaeaea;
    padding: 1rem;
}

.himuon-image-metadata-title {
    font-size: 1rem;
    margin: 0;
}

.himuon-image-metadata-input-ui {
    box-sizing: border-box;
    width: 100%;
    height: 2.3rem;
    display: block;
    border-color: #d9d9d9 !important;
    max-width: 100% !important;
}

.himuon-image-metadata-label {
    display: block;
    margin-bottom: 0.5rem;
}

.button-primary{
    padding: 0.4rem 1.2rem !important;
}

.himuon-image-metadata--form {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
}

.wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary[disabled] {
    opacity: 0.5;
    background: #2271b1 !important;
    border-color: #0a4b78 !important;
    color: #fff !important;
    pointer-events: none;
}

.himuon-image-metadata--radio-input {
    margin-bottom: 0.5rem;
    display: block;
}

.himuon-image-metadata--radio-input  input {
    position: absolute;
    visibility: hidden;
}

.himuon-image-metadata--radio-input-content {
    border:1px solid #d9d9d9;
    border-radius: 5px;
    width: 100%;
    display: block;
    padding: 0.5rem;
    box-sizing: border-box;
    cursor: pointer;
}

.himuon-image-metadata--radio-input input:checked + .himuon-image-metadata--radio-input-content  {
    background-color: #f4f4f5;
}

.himuon-image-metadata--title {
    font-weight: 700;
    display: block;
    color: #1d2327;
}

.himuon-image-metadata--message-info {
    background-color: #dbeafe;
    border-color: #bfdbfe;
    color: #0284c7;
}

.himuon-image-metadata--message-error {
    background-color: #fee2e2;
    border-color: #fecaca;
    color: #dc2626;
}

.himuon-image-metadata--message {
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
    border-width: 1px;
    border-style: solid;
    display: none;
}

.himuon-image-metadata--message-success {
    background-color: #dcfce7;
    border-color: #bbf7d0;
    color: #16a34a; 
}
